body {
  font-family: "Montserrat", sans-serif !important;
}
html {
  scroll-behavior: smooth;
}

#title {
  background-color: #ff4c68;
  color: #fff !important;
}

.container-fluid {
  padding: 3% 15% 7% !important;
}
h1 {
  font-family: "Ubuntu", sans-serif !important;
  font-size: 3.5rem !important;
  line-height: 1.5 !important;
  font-weight: bold !important;
}
h2 {
  font-family: "ubuntu", sans-serif !important;
  font-size: 3.3rem !important;
  line-height: 1.5 !important;
}
h3 {
  font-family: "ubuntu", sans-serif !important;
  font-weight: bold !important;
  font-size: 2rem !important;
}
p {
  color: #8f8f8f;
}

/* navigation bar  */

.navbar {
  padding: 0 0 4.5rem !important;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif !important;
  font-size: 2.5rem !important;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem !important;
  font-family: "Montserrat", sans-serif !important;
}

/* Download buttons  */

.Download-button {
  margin: 5% 3% 5% 0;
}

/* Title image   */
.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* next section  */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.feature-box {
  text-align: center;
  padding: 5%;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}

/* testimonials  */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item {
  padding: 7% 15%;
}

/* pricing section  */

#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}

/* next section start */
#cta {
  padding: 7% 15%;
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
}

#footer {
  text-align: center;
  padding: 7% 15%;
}
.icon-2 {
  padding: 20px 10px;
}
.icon-3 {
  padding: 0px 5px;
}

/* media query start */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-img {
    position: static;
    transform: rotate(0);
  }
}
